# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/instance/
backend/*.pyc

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
*.log
